.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1439px;
  }
  
  .desktop .overlap {
    height: 1599px;
    left: 100px;
    position: absolute;
    top: -835px;
    width: 1692px;
  }
  
  .desktop .ellipse {
    background-color: #ffc5b5;
    border-radius: 750px;
    height: 1500px;
    left: 192px;
    position: absolute;
    top: 0;
    width: 1500px;
  }
  
  .desktop .mask-group {
    height: 665px;
    left: 192px;
    position: absolute;
    top: 835px;
    width: 1147px;
  }
  
  .desktop .nav-bar {
    align-items: center;
    display: flex;
    gap: 227px;
    height: 33px;
    left: 0;
    position: absolute;
    top: 861px;
    width: 1240px;
  }
  
  .desktop .edu-hub {
    align-items: flex-start;
    display: flex;
    gap: 13px;
    position: relative;
    width: 141.75px;
  }
  
  .desktop .book-open {
    height: 32px;
    position: relative;
    width: 34px;
  }
  
  .desktop .text-wrapper {
    color: #333333;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .desktop .navbar {
    align-items: flex-start;
    display: flex;
    gap: 67px;
    position: relative;
    width: 573.3px;
  }
  
  .desktop .text-wrapper-2 {
    color: #333333;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .desktop .my-profile {
    align-items: center;
    display: flex;
    gap: 13px;
    margin-right: -62.88px;
    position: relative;
    width: 133.35px;
  }
  
  .desktop .lock {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .desktop .swift-blog-apple {
    height: 272px;
    left: 789px;
    object-fit: cover;
    position: absolute;
    top: 1327px;
    width: 272px;
  }
  
  .desktop .frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 319px;
    left: 4px;
    padding: 6px 0px;
    position: absolute;
    top: 1272px;
    width: 633px;
  }
  
  .desktop .text-wrapper-3 {
    align-self: stretch;
    color: #b47d6d;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  .desktop .text-wrapper-4 {
    align-self: stretch;
    color: #333333;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .desktop .swift-is-a-modern {
    align-self: stretch;
    color: #333333;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .desktop .button {
    all: unset;
    box-sizing: border-box;
    height: 70px;
    left: 100px;
    position: absolute;
    top: 809px;
    width: 191px;
  }
  
  .desktop .overlap-group {
    background-color: #b47d6d;
    border-radius: 40px;
    height: 70px;
    position: relative;
    width: 189px;
  }
  
  .desktop .text-wrapper-5 {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    height: 70px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 189px;
  }
  